<%- include ('includes/head') %>
  <section class="container">
    <h1>
      <% if(typeof titulo !=='undefined' ){%>
        <%= titulo %>
          <%} else {%>
            o titulo nao foi enviado
            <%}%>
    </h1>
    <form action="/" method="post">
      <label>Cliente</label>
      <input type="text" name="cliente" />
      <button>Confirmar</button>
    </form>
  </section>
<%- include ('includes/footer') %>